<p>Hola,</p>
<p><b>{{userNameOrigin}}</b> quiere que le ayudes a encontrar un diagnóstico para <b>{{patientName}}</b> y por eso comparte sus datos contigo a través de <a href="https://raito29.azurewebsites.net/?utm_medium=email&utm_source=physician_physician&utm_campaign=data_sharing">Raito</a>. Encontrarás sus informes médicos, su lista de síntomas estandarizados según la Human Phenotype Ontology (HPO) y, si los hubiera, datos genéticos. En Raito puedes analizarlos para ver qué enfermedades raras encajan con ellos.</p>
<p>El nombre del caso es: <b>{{patientName}}</b>. </p>
<p>Si tienes dudas o preguntas sobre Raito, por favor, responde a este email. Si te quieres poner en contacto con <b>{{userNameOrigin}}</b>, escribe a <a href="mailto:{{emailOrigin}}">{{emailOrigin}}</a>. </p>
<p>Además, <b>{{userNameOrigin}}</b> ha añadido el siguiente mensaje personal:</p>
<p style="border-style: groove;padding: 5px 5px 5px 5px;">{{message}}</p>
<p>Muchas gracias por utilizar Raito. Descubre cómo puedes ayudar a más familias con <a href="https://raito29.azurewebsites.net/?utm_medium=email&utm_source=physician_physician&utm_campaign=data_sharing">Raito.ai</a>.</p>
<p>Atentamente,</p>
